:root {
  --light: #f5f1ee;
  --light-hover: #f0eae6;
  --light-active: #dfd4ca;
  --normal: #987555;
  --normal-hover: #89694d;
  --normal-active: #7a5e44;
  --dark: #725840;
  --dark-hover: #5b4633;
  --dark-active: #443526;
  --darker: #35291e;
  --shadow: 0 4px 4px 0 rgba(0, 0, 0, 25%);
}
body {
  background-color: var(--light-hover);
}

.about-hero {
  display: flex;
  flex-direction: column;
  gap: 12px;
  align-items: center;
  margin: 30px 24px;
}
.about-hero img {
  width: 75%;
  height: 450px;
  object-fit: cover;
  border-radius: 0 220px;
}
.about-hero h2 {
  font-weight: 500;
  display: flex;
  align-self: flex-start;
  margin-left: 180px;
  font-size: 1.8rem;
}
.about-hero h3 {
  display: flex;
  justify-content: center;
  text-align: center;
  width: 100%;
  font-weight: 400;
  font-size: 1.2rem;
}

@media (max-width: 765px) {
  .about-hero h2 {
    margin: 0;
    font-size: 1.2rem;
  }
  .about-hero img {
    border-radius: 0 150px;
    width: 100%;
  }
}
/*main about */
.main-about {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 50px 150px;
}
.main-about h2 {
  font-weight: 500;
}
.main-about-img {
  border-radius: 0 150px;

  height: 409px;
}

.main-about1,
.main-about2,
.main-about3 {
  display: flex;
  align-items: center;
  width: 75%;
  gap: 100px;
}
.main-about h3 {
  font-weight: 400;
  font-size: 1.2rem;
}
@media (max-width: 765px) {
  .main-about {
    margin: 32px;
    gap: 12px;
  }
  .main-about1 {
    gap: 20px;
    display: none;
  }
  .main-about2 {
    flex-direction: column-reverse;

    gap: 15px;
  }
  .main-about3 {
    flex-direction: column;
    gap: 15px;
  }

  .main-about1 h3 {
    font-size: 1rem;
  }
  .main-about h2 {
    font-weight: 500;
    margin: 15px;
  }
  .main-about-img {
    width: 200px;
    height: 235px;
    border-radius: 0 65px;
  }
}
/* Values Section */
.values {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 41px;

  background-color: var(--light-active);
}
.values h2 {
  margin-top: 34px;
  font-weight: 500;
}
.cards {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  gap: 39px;
  margin-bottom: 34px;
}
.card {
  background-color: var(--light);
  border: 1px solid var(--dark-hover);
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 278px;
  height: 255px;
  justify-content: center;
  padding: 29px 37px;
  gap: 9px;
}
.card img {
  width: 56px;
  height: 56px;
}
.card h3 {
  font-weight: 500;
}
/*Responsive Tablet Mode */
@media (max-width: 765px) {
  .cards {
    padding: 10px;
    width: 100%;

    gap: 20px;
  }
  .values {
    max-width: 765px;
    display: flex;
    justify-content: flex-start;
    overflow-x: auto;
    gap: 10px;
  }
  .card {
    padding: 4px;
  }
}
