:root {
  --light: #f5f1ee;
  --light-hover: #f0eae6;
  --light-active: #dfd4ca;
  --normal: #987555;
  --normal-hover: #89694d;
  --normal-active: #7a5e44;
  --dark: #725840;
  --dark-hover: #5b4633;
  --dark-active: #443526;
  --darker: #35291e;
  --shadow: 0 4px 4px 0 rgba(0, 0, 0, 25%);
}
.services-header {
  background-color: var(--light-hover);
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 63px;
}
.services-header h1 {
  font-weight: 400;
  text-align: center;
  margin-top: 80px;
}
.services-header-images {
  display: flex;
  width: 1010px;
  gap: 100px;
  margin-bottom: 50px;
}
.services-header-images img {
  border-radius: 0 150px;
  width: 308px;
  height: 362px;
}
.services-header-images h2 {
  font-weight: 400;
}
.services-left img {
  border-radius: 0 180px;
  width: 253px;
  height: 362px;
  object-fit: fill;
}
.services-right img {
  border-radius: 180px 0;
  width: 253px;
  height: 362px;
}
@media (max-width: 765px) {
  .services-left img {
    display: none;
  }
  .services-right {
    display: none;
  }

  .services-left  {
    display: none;
  }
  .services-header-images {
    width: 100%;
    display: flex;
    justify-content: center;
  }
}
/* Price List */
.price-list {
  display: flex;
  flex-direction: column;
  gap: 72px;
  text-align: center;
  padding: 50px 0;
  background-color: var(--light);
  /* align-items: center; */
}
.price-list h1 {
  font-weight: 400;
}
.price-content img {
  border-radius: 220px 0 0 220px;
  width: 394px;
  height: 600px;
  object-fit: cover;
}
.price-content {
  display: flex;
  margin: 0 50px;
}

.prices h2 {
  text-decoration: underline;
  font-weight: 400;
  padding-bottom: 30px;
  display: flex;
  justify-content: flex-start;
  margin-left: 90px;
  margin-right: 90px;
}
.prices h3 {
  font-weight: 400;
}
.prices {
  width: 100%;
}
.item {
  display: flex;
  margin: 15px 90px;
  font-size: 1.4rem;
  justify-content: space-between;
  border-bottom: solid var(--light-hover);
}
@media (max-width: 765px){
    .price-content img {display: none;}
    .prices h2{
        justify-content: flex-end;
        margin: 10px;
    }
    .price-content{
      text-align: start;
      margin: 5px;
    }
    .item{
      margin: 10px;
    }
}